@charset "utf-8";
*, ::before, ::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
img {
    vertical-align: bottom;
}
body {
    font-size: 2rem;
    line-height: 48px;
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    max-width: 640px;
}
main {
    margin-top: 7rem;

}

.bg {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.bg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
header {
    background-color: rgba(89,114,88,0.8);
    padding: 0.2rem 0;
    width: 100%;
    max-width: 640px;
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 7rem;
    text-align: center;
}

.logo img {
    width: 8.5rem;
}


nav {
    position: fixed;
    top: 70px;
    right: 0px;
    text-align: left;
    width: calc((100% - 640px) / 2);
    height: calc(100% - 70px);
    overflow: auto;
    font-size: 1.8rem;
    line-height: 6.5rem;
}
nav ul  {
    list-style-type: none;
    font-family: Engravers MT;
    font-style: italic;
    text-shadow: 1px 1px 2px #FFFFFF;
    font-weight: bold;
}
nav ul a  {
    color: #000;
    text-decoration: none;
    padding: 0 10px;
    display: block;
}
nav ul a:hover {
    background-color: rgba(255,255,255,0.5);
}
nav p {
    margin-left: 10px;

}
.main-img {
    position: relative;

}
.catch {
    position: absolute;
    bottom: 5px;
}


.sec0 {
    background-image: url(img/img0.jpg);
    padding: 4rem 0;
    margin-top: 6rem;
}
h3 {
    color: #597258;
    font-family: Engravers MT;
    font-size: 3rem;
    text-shadow: 4px 4px 3px #9aa98b;
    padding-bottom: 3rem;
}
.sec-about, .sec-news  ,.sec-clothes,.sec-plan,.sec-ranking,.sec-gallery,.sec-camera,.sec-info{
    margin: 6rem 0;
    padding: 4rem 0;
    background-color: #eee7e0;
}
.sec-news table {
    margin: 0 auto;
}

.sec-news th ,.sec-news td{
    text-align: left;


}
.sec-news th {
    font-weight: normal;
    padding-right: 2rem;
}
.sec-clothes .clt {
    display: flex;
    justify-content: space-evenly;
}
h4  {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.sec-plan .pln1 {
    margin-bottom: 3rem;
}
.rnk1, .rnk2 ,.rnk3{
    margin-bottom: 4rem;
}
.sec-ranking p {
    font-size: 2.2rem;
}
.sec-ranking .btn {
    text-align: right;
    margin-right: 2rem;

}




.sec-btn {
    margin: -3rem 0;
}
.sec-gallery .photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 10px;
}
.sec-camera p {
    line-height: 2.4rem;
    margin: 1rem 0;
    top: auto;
}
.sec-camera .cmr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sec-info dl {
    text-align: left;
    line-height: 3rem;
    margin-left: 2rem;
}
.sec-info dt {
    margin-left: 2rem;
}


.inf1, .inf2, .inf3 {
    margin-top: 2rem;
}

footer {
    background-color: rgba(89,114,88,0.8);
    width: 100%;
    padding: 2rem 0;
    max-width: 640px;
}
footer p {
    color: #fff;
}

@media (max-width:1000px){
header {
    padding: 0.2rem 2rem;
    display: flex;
}
header .logo {
    margin: 0 auto;
}
.nav-btn {
    width: 30px;
    border: 2px solid #fff;
    height: 30px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-btn span {
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 3px;
}
.nav-btn span:nth-child(1) {
    top: 6px;

}
.nav-btn span:nth-child(2) {
    top: 12px;
}
.nav-btn span:nth-child(3) {
    top: 18px;
}




nav {
    display: none;
}





}

@media (max-width:640px){
html {
    font-size: 1.56vw;
}


}
